@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Manrope', sans-serif;
  }
  html {
    font-family: 'Manrope', sans-serif;
    letter-spacing: .64px; /* global tracking per spec */
  }
  body {
    font-family: 'Manrope', sans-serif;
  }
}

